/* About Page */

.about-page {
  max-width: 1200px;
  margin: 0 auto;
}

.about-header {
  float: right;
  text-align: center;
  margin: var(--spacing-2xl);
  padding-bottom: var(--spacing-xl);
}

.about-page-avatar {
  height: 450px;
  object-fit: cover;
  border: 2px solid var(--accent-primary);
  margin-bottom: var(--spacing-lg);
  padding: var(--spacing-sm);
}

.about-page-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  margin: 0 0 var(--spacing-md) 0;
  line-height: 1.1;
  text-align: center;
}

.about-page-description {
  font-size: 1.25rem;
  color: var(--text-secondary);
  margin: 0 0 var(--spacing-lg) 0;
  font-style: italic;
}

.about-page-social {
  margin-top: var(--spacing-md);
}

.about-page-social div {
  gap: var(--spacing-lg) !important;
}

.about-page-social svg {
    width: 2rem !important;
    height: 2rem !important;
}

.about-content-full {
  font-size: 1.125rem;
  line-height: 1.8;
  color: var(--text-primary);
}

.about-content-full h2 {
  font-size: 1.75rem;
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-md);
  color: var(--text-primary);
}

.about-content-full p {
  margin-bottom: var(--spacing-md);
}

.about-content-full a {
  color: var(--accent-primary);
  text-decoration: underline;
}

.about-content-full a:hover {
  color: var(--accent-hover);
}

.about-content-full ul, .about-content-full ol {
  margin-bottom: var(--spacing-md);
  padding-left: 1.5em;
  margin-left: 0;
}

.about-content-full li {
  margin-bottom: .5em;
  line-height: 1.8;
}
